body {

    margin: 0;
    background-color: black;
}

#background img{

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;

}

header {

    height: 160px;
    background-color: #046fc8;
    box-shadow:  black 0px 5px 10px;
    z-index: 1;
}

.form {

    padding-bottom: 5%;
    box-shadow: 15px 15px 20px black;
}

#userInfo {

    float: left;
    color: white;
    margin-left: 2%;
    font-size: 1.5em;
}

#title {

    display: table;
    margin-left: 42.5%;
    font-size: 2em;
    padding-top: 2%;
}

#options {

    text-align: center;
    float: right;
    margin-right: 2%;

}

p {

    margin: 0;
    padding: 1% 0 1% 0;
}

#users {

    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;

}

#accounts {

    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;

}

#display {

    background-color: ghostwhite;
    text-align: center;
}

#info {

    padding: 5%;
}

input {

    width: 75%;
    margin: 2%;
    padding: 2%;
}

.button {

    width: 40%;
    display: block;
    margin: 2% auto;
    padding: 2%;
}

.link {

    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: 2%;
    box-shadow: 5px 5px 10px black;
}

.link a {


}

#viewAccount {

    background-color: #046fc8;
    margin-right: 2%;
}

#deleteAccount {

    background-color: red;
    margin-left: 2%;
}

#addButton {

    text-align: center;
    margin: 5% 0 10% 0;
}

#addButton a {

    background-color: #046fc8;
    padding: 2%;
    box-shadow: 5px 5px 10px black;
    text-decoration: none;
    font-size: 1.2em;
    color: black;

}