body
{
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100%;
    overflow: auto;
    margin:0;
    background: black;
    font-size: 1.2em;
    text-shadow: 2px 2px black;
    display: block;
}

/*---background image-----*/
#background
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background-size: cover;
    background: url("../Images/BackgroundIndex.jpg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -999;
}

/*----Opacity = 0 o make it appear after----*/
.phraseAccueil
{
    color: white;
    margin: 7%;
    text-align: center;
    opacity: 0;
}

/*----I put padding on these elements to make animations in javascript----*/
#phrase1
{
    padding: 0 50% 0 0;
}

#phrase2
{
    padding: 0 0 0 40%;
}

#phrase3
{
    padding: 0 30% 0 0;
}

#boutonDecouvrir {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background: #63b8ee linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:16px;
    display: block;
    border:1px solid #3866a3;
    cursor:pointer;
    text-align: center;
    margin: auto 40%;
    padding: 0.5%;
}

#boutonDecouvrir a
{
    color:#14396a;
    font-family:Arial;
    font-size:1.5em;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;

}
#boutonDecouvrir:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}

#boutonDecouvrir:active{
    position:relative;
    top:1px;
}





